NETWORK_NAME="testnet"
RPC_URL="https://soroban-testnet.stellar.org"
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
DEPLOYER="alice"
DEPLOYER_ADDRESS=""
DEFAULT_ALLOWED_PREFIX="u4pruy"
GIST_REGISTRY_CONTRACT_ID=""
GIST_VAULT_CONTRACT_ID=""
LOCATION_VERIFIER_CONTRACT_ID=""
